
.depicter-revert.depicter-3 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-3-element-75 .depicter-bullet-item{
	background-color:#ffffff;
	border-radius:5px 5px 5px 5px ;
	margin-right:10px;
	width:9px;
	height:9px;
}
.depicter-3-element-75 .depicter-bullet-item.depicter-bullet-active{
	background-color:#000000;
}
.depicter-revert .depicter-3-element-81{
	font-size:13px;
	text-align:center;
	color:#222222;
	font-family:"Source Sans Pro";
	font-weight:700;
	text-transform:uppercase;
	white-space:nowrap;
	direction:ltr;
	background-color:#ffffff;
}
.depicter-revert .depicter-3-element-81:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-3-element-80{
	font-size:24px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-79{
	font-size:80px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-78{
	font-size:80px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-section-76{
	background-color:#FFF;
}
.depicter-revert .depicter-3-element-87{
	font-size:13px;
	text-align:center;
	color:#222222;
	font-family:"Source Sans Pro";
	font-weight:700;
	text-transform:uppercase;
	white-space:nowrap;
	direction:ltr;
	background-color:#ffffff;
}
.depicter-revert .depicter-3-element-87:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-3-element-86{
	font-size:24px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-85{
	font-size:80px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-84{
	font-size:80px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-section-82{
	background-color:#FFF;
}
.depicter-revert .depicter-3-element-93{
	font-size:13px;
	text-align:center;
	color:#222222;
	font-family:"Source Sans Pro";
	font-weight:700;
	text-transform:uppercase;
	white-space:nowrap;
	direction:ltr;
	background-color:#ffffff;
}
.depicter-revert .depicter-3-element-93:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-3-element-92{
	font-size:24px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-91{
	font-size:80px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-90{
	font-size:80px;
	text-align:center;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-3-section-89{
	background-color:#FFF;
}

